[submodule "root/home/bhasher/.oh-my-zsh/custom/themes/powerlevel10k"]
	path = root/home/bhasher/.oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "root/home/bhasher/.oh-my-zsh/custom/themes/zsh-autosuggestions"]
	path = root/home/bhasher/.oh-my-zsh/custom/themes/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "root/home/bhasher/.oh-my-zsh/custom/themes/zsh-syntax-highlighting"]
	path = root/home/bhasher/.oh-my-zsh/custom/themes/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
